export SECURITY_SALT=development
export PATH="$PWD/bin/:$PATH"

if [ ! -d vendor ]; then
    echo "no vendor/ directory found, installing dependencies"
    composer install -n
    echo
    echo
    echo "copy .env.example to .env, and fill it out"
    echo "maybe ask colleagues for an existing slack app key and config"
    echo "then, run 'docker-compose up' to start server"
fi
