parameters:
    level: 1
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/paths.php
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src/
    excludePaths:
        - src/Console/Installer.php
