<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteCond %{REQUEST_URI} !^/assets
    RewriteCond %{REQUEST_URI} !^/img

    RewriteRule ^ index.php [L]
</IfModule>
